/* ---- Default section --- */
*{
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    text-decoration: none;

	font-family: "Alike Angular", serif;
	font-weight: 400;
	font-style: normal;

	padding: 0%;
	margin: 0%;

    --mainColor: linear-gradient( to bottom right,rgba(145, 36, 155, 15),rgba(228, 5, 128, 0.445) );
	--side-Color: rgb(30, 30, 44);
    --secondColor:rgba(228, 5, 128, 0.445);
	--thirdColor: rgba(35, 37, 48, 0.521);

    --blue: rgb(136, 170, 255);
	--DarkBlue: rgb(35, 37, 48);
	--AlmostBlue: rgb(0, 255, 255);
	--Green1: rgb(41, 143, 118);
	--Green2: rgb(144, 238, 144);
	--Black: rgb(0, 0, 0);
	--Red: rgb(255, 0, 0);
	--Brown: rgb(165, 42, 42);
	--SBBorder: #444;
	--AlmostRed1: rgb(219, 4, 4);
	--Gold: rgb(255, 215, 0);
	--beige: rgb(255, 134, 134);
	--AlmostRed2: rgb(238, 144, 144);

	--LightGrey: rgb(123,123,123);
	--DarkGrey: rgb(44,44,44);

	--GreyedOut: rgba(0, 0, 0, 0.5);

	--DefaultColor0: azure;
	--DefaultColor2: rgb(34, 34, 34);
	--DefaultColor6: rgb(102, 102, 102);
	--DefaultColor9: rgb(153, 153, 153);
	--DefaultColor10: rgb(92, 92, 92);
	--DefaultColor11: rgb(204, 204, 204);
	--DefaultColor12: rgb(61, 61, 61);
	--AlmostBlack1: rgba(0, 0, 0, 0.048);
	--AlmostBlack2: rgba(0, 0, 0, 0.2);
	--AlmostBlack3: rgba(0, 0, 0, 0.575);
	--AlmostWhite1: rgba(255,255,255,0.1);
	--AlmostWhite2: rgba(255,255,255,0.3);

	--AlmostPurple1: rgb(145, 36, 155);
	--AlmostPurple2: rgb(138, 43, 226);
	--AlmostPurple3: rgb(67, 0, 129);
	--AlmostPurple4: rgb(96, 27, 160);

	--Pain: rgb(128, 0, 0);
	--Fatigue: rgb(0, 192, 166);
	--Fear: rgb(128, 0, 0);
	--Stress: rgb(0, 192, 166);
	--Trauma: rgb(0, 192, 166);
	--Addiction: rgb(255, 208, 0);
	--Sickness: rgb(134, 172, 0);
	--Bleed: rgb(54, 0, 0);
	--Control: rgb(0, 128, 0);/*Green*/
	
}
*:visited{
    color: inherit;
}
*:link{
    color: inherit;
}
#detach-button-host {
    display: none !important;
}
/* ---- Font Family ---- */
.fondamento-regular {
	font-family: "Fondamento", cursive;
	font-weight: 400;
	font-style: normal;
}
.protest-revolution-regular {
	font-family: "Protest Revolution", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.alike-angular-regular {
	font-family: "Alike Angular", serif;
	font-weight: 400;
	font-style: normal;
}

.fondamento-regular-italic {
	font-family: "Fondamento", cursive;
	font-weight: 400;
	font-style: italic;
}
.redacted-script-light {
	font-family: "Redacted Script", cursive;
	font-weight: 300;
	font-style: normal;
}

.redacted-script-regular {
	font-family: "Redacted Script", cursive;
	font-weight: 400;
	font-style: normal;
}

.redacted-script-bold {
	font-family: "Redacted Script", cursive;
	font-weight: 700;
	font-style: normal;
}

button{
    color: inherit;
    height: inherit;
    width: inherit;
    box-shadow: 1px 1px 0px var(--Black);
}
