/* ---- Title ---- */
.Title {
    grid-column: 2;
    grid-row: 1;
    min-height: 5px;
}
.Quest_Title{
    color: var(--DefaultColor0);
    z-index: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;    

    width: 100%;
    height: 100%;
    top: 0px;
    text-align: center;
    float: none;
    margin-bottom: 0;
    box-sizing:content-box;
    padding: .5em;
    font-family: "Fondamento", cursive;

    font-size: larger;
    font-weight: 400;
    font-style: normal;
    border-right: solid 2px var(--DefaultColor0);
    border-bottom: solid 2px var(--DefaultColor0);
}
/* ---- Map ---- */
.MapParent {
    grid-row: 2/7;
    grid-column: 2;
}
.map-canvas {
	background-color: var(--DarkBlue);
	overflow: hidden; /* Prevents overflow of content */
}
#tooltip {
	/* Canvas Tooltip */
	position: absolute;
	padding: 4px 8px;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	font-size: 12px;
	border-radius: 4px;
	pointer-events: none;
	visibility: hidden;
	z-index: 1000;
}
/* ----  Main section ---- */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.app {
    grid-row: 1/7;
    grid-column: 3/8;

	flex: 1; /* Main content takes up remaining space */
	display: block;
	
	flex-direction: column;
	z-index: 5;
	
}
.InteractionBlock {
	display: flexbox;
    flex-direction: column;
	position: relative;
	z-index: 5;
	top: 0;
    
}
.TextBlock { /* main_section */
    color: var(--DefaultColor0);
	font-size: large;
    white-space: pre-wrap;
    word-wrap: break-word;
	word-break: keep-all;
    flex: 1;
}
.BtnBlock { /* choices_section_choices && choices_section */
	
    color: var(--DefaultColor0);
	z-index: auto;
	text-align: center;
	padding: 20px;
	padding-bottom: 20px;

	width: fit-content;
	

    display: flex;
    flex-direction: column;
	background-color: var(--mainColor);
    /*
    display: flex;
    text-align: center;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    /* flex-wrap: wrap; /* Allow wrapping of buttons if needed */
    gap: 30px; /* Spacing between buttons */
    /*
    color: var(--DefaultColor0);
    background-color: var(--mainColor)
    */
}
.main_section{
    color: var(--DefaultColor0);
	text-align: center;
	font-size: large;
    white-space: pre-wrap;
    word-wrap: break-word;
	word-break: keep-all;
    flex: 1;
}
#text{
	white-space: pre-wrap;
}
[data-Epigraphs] {
    color: var(--GreyedOut);
}
.tremble {
    display: inline-block;
    animation: tremble 0.2s infinite;
}

@keyframes tremble {
    0%   { transform: translate(0px, 0px); }
    25%  { transform: translate(-1px, 1px); }
    50%  { transform: translate(1px, -1px); }
    75%  { transform: translate(-1px, -1px); }
    100% { transform: translate(1px, 1px); }
}
/* Position 1  default left */
[data-position="1"] { 
    margin: 0;
    padding: 0;
    text-align: center;
}
.BtnBlock[data-position="1"] {
    margin: 0 auto;
}
.Choices[data-position="1"] {
    margin-left: 5em;
    width: 0;
}
.TextBlock[data-position="1"] {
    text-align: left;
    margin-left: 2em;
    line-height: 1.5;
}
/* Position 2 Long Text*/
[data-position="2"] { 
    margin-top: 20em;
    padding: 0;
    line-height: 1.5;
}

.BtnBlock[data-position="2"] {
    margin: 0;
}
.Choices[data-position="2"] {
    margin-left: 0;
    width: auto;
}
.TextBlock[data-position="2"] {
    text-align: center;
    margin-left: 0;
}
.InteractionBlock[data-position="2"] {
    display: flex;
    align-items: baseline;
    text-align: left;
    left: 2em;
}
.BtnBlock[data-position="3"] { /*  Position 3 buttons row */
    flex-direction: row;
}
.Choices[data-position="3"] {
    margin-left: 0;
    width: auto;
}

/* ---- Buttons ---- */
.choices_section{
	position: absolute;
    color: var(--DefaultColor0);
	z-index: auto;
	text-align: center;
	padding: 20px;
	padding-bottom: 20px;

	width: fit-content;
	margin: 0 auto;

    display: flex;
    flex-direction: column;
	background-color: var(--mainColor)
}
.choices_section_choices{
	display: flex;
	text-align: center;
	justify-content: center; /* Center content horizontally */
	align-items: center; /* Center content vertically */
	/* flex-wrap: wrap; /* Allow wrapping of buttons if needed */
	gap: 30px; /* Spacing between buttons */
	color: var(--DefaultColor0);
	background-color: var(--mainColor)
}
.Choices {
	display: none; /* Initially hidden, adjust visibility dynamically */
	padding: auto 5px;
	cursor: pointer;
	font-size: 16px;
    color: var(--blue);


    float: left;
    width: auto 2em;
    height: auto;
    text-align: center;
    
}
.Choices.visible {
	display: inline-block; /* Only show visible buttons */
    color: var(--blue);
}
.Choices:hover{
	text-decoration: underline;
	cursor: pointer;
}
.Sh_1,.Btn_1{
	color: var(--beige);
	
}
.Sh_1:hover,.Btn_1:hover{
	color: var(--Red);
}

/* ---- Objectives ---- */
.Objectives {
    grid-column: 2/4;
    grid-row: 1/5;
}
/* ---- Loot ---- */
.Loot {
    grid-column: 4/9;
    grid-row: 1/5;
}
/* ---- Inventory ---- */
.Inventory {
    grid-column: 2/9;
    grid-row: 5/9;
}
.inventoryItem {
    
	border: 1px solid var(--DefaultColor0);
	color: var(--DefaultColor0);
	padding: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--AlmostWhite1); /* Semi-transparent white background */
    border-radius: 8px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
	margin: auto 15px;

    /* Additional styles for a cleaner appearance */
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
/* Hover styles for the inventory items */
.inventoryItem:hover {
    background-color: var(--AlmostWhite2); /* Lighter semi-transparent white background */
    box-shadow: 0 4px 8px var(--AlmostBlack2); /* Add box shadow on hover for depth effect */
}
.pages {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    row-gap: 30px;
}
.page {
    /*width: calc(25% - 10px); /* Adjust based on desired grid layout */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    row-gap: 30px;
}